body {
	background-color: #fcf9ea;
}
header {
	display: flex;
	justify-content: center;
}
.h1{
	text-align: center;
	font-family: 'Muli', sans-serif;
}
.ligne{
	text-align: center;
	font-family: 'Muli', sans-serif;
	height: 90px;
}
section {
	display: flex;
	justify-content: center;
	padding: 40px	
}
#ta {
	display: flex;
	justify-content: center;
	color: #49beb7;
	font-size: 40px;
	}
#opport{ 
font-weight: bold; 
}
#card2 {
	display: flex;
	justify-content: center;
	color: #49beb7;
	font-size: 40px;
	}
#obs{ 
font-weight: bold; 
}
#card3 {
	display: flex;
	justify-content: center;
	color: #49beb7;
	font-size: 40px;
	}
#ind{ 
font-weight: bold; 
}
.pic{
	display: flex;
	justify-content: center;}
p {
		font-family: 'Muli', sans-serif;
		font-size: 20px;
}
.container{
    flex-direction: row;
    display:flex;
    justify-content: center;
}
.container2{
    flex-direction: row;
    display:flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 30%;
}
h2{
    text-align: center;
    font-family: 'Muli', sans-serif;
	font-size: 20px;
}
footer{
    background-color: #ff8a5c;
}
.children1 .children2{
    justify-content: center;
}